# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
tensorflow==2.9.1
tensorflow-io
tensorflow_addons
numpy
matplotlib
seaborn
jupyter
pandas
librosa
tqdm
openpyxl
pydot